* {
  box-sizing: border-box;
  font-family: "headings";
}

mat-form-field :focus {
  background-color: transparent;
}

button {
  border: solid 2px black;
  width: fit-content;
  padding: 10px 20px;
}

.container {
  padding: 30px 30px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
