* {
  box-sizing: border-box;
  font-family: "headings";
}

mat-form-field {
  font-family: "body";
}

mat-form-field :focus {
  background-color: transparent;
}

.container {
  padding: 30px 30px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
