* {
  font-family: "headings";
  font-size: 1rem;
  box-sizing: border-box;
}

p {
  font-family: "body";
  font-size: 0.8em;
}

.task-card {
  width: 100%;
  background-color: white;
  border: solid black 1.5px;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  /* transition-timing-function: ease-in;
  transition: 0.2s; */
}
/* 
.task-card:hover {
  background-color: #ffe69b;
  border: black dashed 1.5px;
  transform: scale(1.1);
} */
