h1 {
  font-family: "headings";
}

h2 {
  font-family: "headings";
  margin-bottom: 20px;
}

.nav {
  padding: 10px 30px;
  background-color: #ffd24c;
  color: white;
  -webkit-text-stroke: 0.25px black;
}

.content-wrapper {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 33.33%;
  margin: 0 25px 25px 0;
}

.list {
  /* width: 100%; */
  min-height: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.empty-label {
  font-size: 1.5em;
  /* width: 100%; */
  border: solid 1px #717171;
  border-radius: 5px;
  font-family: "headings";
  padding: 20px 20px;
  text-align: center;
  opacity: 0.2;
}
