* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "headings";
  src: url("./assets/fonts/CaramelSweets.ttf") format("truetype");
}

@font-face {
  font-family: "body";
  src: url("./assets/fonts/GloriaHallelujah.ttf") format("truetype");
}
